/* Colors from colorhunt.co
#2C3639
#3F4E4F
#A27B5C
#DCD7C9
https://colorhunt.co/palette/2c36393f4e4fa27b5cdcd7c9 

Additional color for the text box: #f1f0eb
*/


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #DCD7C9;
    color: #2C3639;
}

h1,
h2,
h3 {
    text-shadow: 1px 1px 2px #A27B5C;
    padding: .1em;
    margin: 0;
}

p {
    margin: .5em;
}


#info-text>a {
    font-size: 1.25em;
    text-shadow: 1px 1px 2px #A27B5C;
}

#news {
    color: #A27B5C;
    position: absolute;
    left: 5px;
    top: 5px;
    height: min-content;
    width: min-content;
    font-size: .75em;
    cursor: pointer;
    white-space: nowrap;
    text-shadow: 1px 1px 2px #3F4E4F;
}

#updateInfo {
    background-color: #3F4E4F;
    color: #DCD7C9;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 5px;
    width: 90%;
    height: max-content;
    z-index: 1;
    border-style: solid;
    border-width: 1px;
    border-color: #A27B5C;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 1.25em;
    cursor: pointer;
    visibility: hidden;
}

main {
    top: 0;
    left: 0;
}

.heading>h1 {
    text-align: center;
    font-size: 2em;
}

.heading>h2 {
    text-align: center;
    font-size: 1.25em;
}

.heading>p {
    font-size: 1em;
}

.main-box {
    display: flex;
    gap: 2em;
    text-align: left;
    justify-content: space-around;
    align-items: center;
    margin-top: .5em;
}

#original-text {
    background-color: #f1f0eb;
    width: 60%;
    height: 40px;
    padding: 0 5px 0 5px;
    font-size: 1.25em;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: #3F4E4F;
    resize: none;
    white-space: nowrap;
    overflow-x: scroll;
}

#original-text:focus {
    outline: none !important;
    border-color: #A27B5C;
}

#original-text::selection {
    background-color: #3F4E4F;
    color: #DCD7C9;
}

#hyphenator-button,
#apostrophenator-button {
    cursor: pointer;
    background-color: #3F4E4F;
    color: #DCD7C9;
    width: 120px;
    height: 50px;
    font-size: 1.25em;
    border-radius: 5px;
    box-shadow: 3px 3px #A27B5C;
}

#apostrophenator-button {
    font-size: .9em;
}

#hyphenator-button:active,
#apostrophenator-button:active {
    box-shadow: 1px 1px #A27B5C;
    transform: translate(1px);
}

.results-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    margin: .25em 0 .25em 0;
    font-size: 1em;
}

.results-container>h3 {
    grid-column-start: 1;
    margin: 5px 0;
    font-size: 1.1em;
}

.results-container>p {
    margin: 5px 0;
}

.results {
    cursor: pointer;
    grid-column-start: 2;
    width: fit-content;
    padding: 5px;
    border: solid;
    border-radius: 5px;
    border-color: #DCD7C9;
}

.results:hover {
    border-color: #3F4E4F;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    color: #2C3639;

}

.profile-pic {
    width: 3.25em;
    height: 3.25em;
    padding: 1px;
}

/*tablet and above query*/
@media only screen and (min-width: 768px) {

    h1,
    h2,
    h3 {
        padding: .15em;
    }

    .heading>h1 {
        font-size: 2.5em;
    }

    .heading>h2 {
        font-size: 1.25em;
    }

    .heading>p {
        font-size: 1.10em;
    }

    .main-box {
        justify-content: center;
        margin-top: .75em;
    }

    #original-text {
        height: 55px;
        font-size: 1.75em;
    }

    #hyphenator-button,
    #apostrophenator-button {
        width: 175px;
        height: 70px;
        font-size: 1.75em;
        box-shadow: 4px 4px #A27B5C;
    }

    #apostrophenator-button {
        font-size: 1.35em;
    }

    #hyphenator-button:active,
    #apostrophenator-button:active {
        box-shadow: 1.5px 1.5px #A27B5C;
        transform: translate(1.5px);
    }

    .results-container {
        gap: 4px;
        margin: .5em 0 .5em 0;
        font-size: 1.2em;
    }

    .results-container>h3 {
        font-size: 1.25em;
    }

    footer {
        flex-direction: row;
    }

    .profile-pic {
        width: 3.75em;
        height: 3.75em;
    }
}

/*desktop query*/
@media only screen and (min-width: 992px) {

    h1,
    h2,
    h3 {
        padding: .2em;
    }

    .heading>h1 {
        font-size: 2.6em;
    }

    .heading>h2 {
        font-size: 1.35em;
    }

    .heading>p {
        font-size: 1.2em;
    }

    .main-box {
        justify-content: center;
        margin-top: 1em;
    }

    #original-text {
        height: 60px;
    }

    .results-container {
        gap: 5px;
        font-size: 1.35em;
    }

    .results-container>h3 {
        margin: 8px 0;
        font-size: 1.4em;
    }

    .results-container>p {
        margin: 8px 0;
    }
}