/* Colors from colorhunt.co
#2C3639
#3F4E4F
#A27B5C
#DCD7C9
https://colorhunt.co/palette/2c36393f4e4fa27b5cdcd7c9 

And for the text box: #f1f0eb
*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #DCD7C9;
    color: #2C3639;
}

.heading>h1,
h2 {
    text-align: center;
}

.heading>p {
    font-size: 1.25em;
}

.main-box {
    text-align: left;
    display: flex;
    justify-content: space-around;
    gap: 2em;
    align-items: center;
}

#original-text {
    width: 50%;
    height: 75px;
    padding: 10px;
    border-width: 2px;
    border-radius: 5px;
    background-color: #f1f0eb;
    resize: none;
    font-size: 1.25em;
}

#original-text::selection {
    background-color: #3F4E4F;
    color: #DCD7C9;

}

#hyphenator-button {
    background-color: #3F4E4F;
    color: #DCD7C9;
    width: 125px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25em;
    box-shadow: 3px 3px #A27B5C;
}

#hyphenator-button:active {
    box-shadow: 1px 1px #A27B5C;
    transform: translate(1px);
}

.results-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    font-size: 1em;
}

.results-container>h3 {
    grid-column-start: 1;
    margin: 15px 0;
}

.results-container>p {
    margin: 15px 0;
}

.results {
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    border: solid;
    border-radius: 5px;
    border-color: #DCD7C9;
    grid-column-start: 2;
}

.results:hover {
    border-color: #3F4E4F;
}

footer {
    text-align: center;
}

/*tablet and above query*/
@media only screen and (min-width: 768px) {

    .main-box {
        justify-content: center;
    }

    #original-text {
        font-size: 1.75em;
    }

    #hyphenator-button {
        width: 175px;
        height: 70px;
        font-size: 1.75em;
        box-shadow: 4px 4px #A27B5C;
    }

    #hyphenator-button:active {
        box-shadow: 1.5px 1.5px #A27B5C;
        transform: translate(1.5px);
    }

    .results-container {
        font-size: 1.5em;
    }
}